.product-container {
    margin: 0px 12% 70px 10%;
    background-color: $white;

    .product-card {
        display: grid; 
        grid-template-columns: min-content auto;

        img {
            width: 680px;
        }

        .product-info {

            .product-state {
                padding: 32px 0px 16px 0px;
                font-size: 14px;
            }

            .product-name {
                font-size: 32px;
            }

            .product-price {
                padding: 32px 0px 32px 0px;
                font-size: 48px;
            }

            button {
                color: $white;
                background-color: $meli-blue;
                height: 32px;
                border-radius: 4px;
                border: none;
            }
        }
    }

    .product-description {
        .title {
            padding: 0px 0px 32px 32px;
            font-size: 28px;
        }

        p {
            padding: 0px 0px 32px 32px;
            color: $meli-grey;
            font-size: 16px;
            width: 680px;
        }
    }
}

.item-categories-container {
    margin: 16px;
    font-size: 14px; 
    color: $meli-dark-grey;
    padding-left: 10%;
}



